.clip-path-drop-1 {
  --clip-path: rect(0 44% 13% 0);
}

.clip-path-drop-2 {
  --clip-path: rect(0 56% 36% 0);
}

.clip-path-drop-3 {
  --clip-path: rect(0 67% 72% 0);
}

.clip-path-drop-4 {
  --clip-path: rect(0 78% 90% 0);
}

.clip-path-drop-5 {
  --clip-path: rect(0 89% 99% 0);
}
