@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fcfaf7;
  --foreground: #0b0bca;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b0bca;
    --foreground: #fcfaf7;
  }
}

body {
  color: var(--foreground);
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("/white-background.jpg");
}
