@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #fcfaf7;
  --foreground-color: #0b0bca;
  --background-noise: url("/imgs/white-noise.jpg");
  --foreground-noise: url("/imgs/blue-noise.jpg");
  font-size: 20px;
  letter-spacing: -0.03em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #0b0bca;
    --foreground-color: #fcfaf7;
    --background-noise: url("/imgs/blue-noise.jpg");
    --foreground-noise: url("/imgs/white-noise.jpg");
  }
}

body {
  color: var(--foreground-color);
  background: var(--background-noise);
  font-family: Helvetica, sans-serif;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  a,
  li,
  label,
  input,
  textarea {
    letter-spacing: -0.05em;
    line-height: 30px;
  }
}

.title {
  font-size: 3.2rem;
  line-height: 1.1;
}
